.dark-primary-bg {
	background-color: #4c84c4 !important;
}

.dark-secondary-bg {
	background-color: #358fc9 !important;
}

.light-primary-bg {
	background-color: #6baeec !important;
}

.light-secondary-bg {
	background-color: #ace4fc !important;
}

.light-tertiary-bg {
	background-color: #c4f4fc !important;
}

/* .export-button {
	position: absolute;
	top: -20px;
} */
